<div class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h2 class="s-title"><i aria-hidden="true"></i>Mipcsoft</h2>
                <h3 class="s-title"></i>Ingenierias Integradas S. A. S.</h3>
                <div class="contact">
                    <p class="location"><i class="soap-icon-address" aria-hidden="true"></i>&nbsp;Direccio: Cr 78L # 33A 22 Sur </p>
                    <p class="location"><i class="soap-icon-hotel-1" aria-hidden="true"></i>&nbsp;Ciudad: Bogota ( Colombia) </p>
                    <p class="mail-add"><i class="soap-icon-letter" aria-hidden="true"></i>&nbsp;Correo: ventas@mipcsoft.com</p>
                    <p class="call"><i class="soap-icon-phone" aria-hidden="true"></i>&nbsp;PBX:(57) (1) 4511248</p>
                    <p class="call"><i class="soap-icon-phone" aria-hidden="true"></i>&nbsp;USA: (0091) (442) 3250991</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h2 class="s-title"><i aria-hidden="true"></i>Ingenierias</h2>
               <div class="contact">
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Ing Civil</p>
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Ing De Sistemas</p>
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Ing De Telecominicaciones</p>
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Ing Electrica</p>
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Ing Electronica</p>
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Seguridad Y Automatizacion</p>
                    </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <h2 class="s-title"><i aria-hidden="true"></i>Nuestra Compañía</h2>
                <div class="contact">
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Quienes Somos</p>
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Misión</p>
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Visión</p>
                    <p class="location"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;Objetivos</p>
                    </div>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
                <h2 class="s-title"><i aria-hidden="true"></i>Boletines de Noticias</h2>
                <div class="contact">
                <p>
                    Manténgase al día con nuestros productos y noticias. Ingrese su correo electrónico y suscríbase a nuestro boletín.</p>
                <br />
                <div class="icon-check">
                    <input type="text" class="input-text full-width" placeholder="your email" />
                </div>
                <br />
                <span>Respetamos su privacidad</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5">
                <ul class="social-icons clearfix">
                    <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                    <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                    <li class="youtube"><a title="youtube" href="#" data-toggle="tooltip"><i class="soap-icon-youtube"></i></a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
<div class="bottom gray-area">
    <div class="container">
        <div class="pull-left">
            <a href="{{ path('index') }}" title="Mipcsoft - Inicio">
                <img src="{{ asset('assets/images/mipcsoft/2.png')}}" alt="Mipcsoft" />
            </a>
        </div>
        <div class="pull-right">
            <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
        </div>
        <div class="copyright pull-right">
            <p>&copy; 2019 mipcsoft</p>
        </div>
    </div>
</div>