{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-title-container">

        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ingenierias Integradas SAS</h2>

            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="{{ path('index') }}">INICIO</a></li>
                {#<li><a href="#">BONUS</a></li>#}
                <li class="active">Mipcsoft</li>
            </ul>
        </div>

    </div>

    <section id="content">
        <!-- INICIO CONTENIDO  -->



        <!-- INICIO CONTENIDO  -->
    </section>

{% endblock %}


{% block javascripts  %}
    {{ parent() }}

{% endblock %}