{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-title-container">

        <div class="container">
            <div class="page-title pull-left">
                <h5 class="entry-title"><strong>Ingeniería Eléctrica&nbsp;&nbsp;&nbsp;</strong><a style="color:#fdb714;" href="{{ path('connections') }}">Acometidas Eléctricas</a></h5>

            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="{{ path('index') }}">INICIO</a></li>
                <li><a href="{{ path('connections') }}">Electricidad</a></li>

            </ul>
        </div>

    </div>

    <section id="content">
        <!-- INICIO CONTENIDO  -->



        <!-- FIN CONTENIDO  -->
    </section>

{% endblock %}


{% block javascripts  %}
    {{ parent() }}

{% endblock %}